# See http://help.github.com/ignore-files/ for more about ignoring files.

/ClientApp/src/environments/environment.prod.ts

# compiled output
/ClientApp/dist
/ClientApp/tmp
/ClientApp/out-tsc
# Only exists if Bazel was run
/ClientApp/bazel-out

# dependencies
/ClientApp/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/ClientApp/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.vs/